<form>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for books">

      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#extraFilters">Filters</button>
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </div>
  </div>

  <div class="collapse" id="extraFilters">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Series</label>
      <input type="text" class="form-control">
    </div>
  </div>
</form>
